<table class="datagrid">
	<thead class="datagrid">
		<th>Item</th>
		<th>Vendor</th>
		<th>Category</th>
		<th>Purchased</th>
		<th>Amount(QR)</th>
		<th>Status</th>
	</thead>
	
<% @account_debits.each do |debit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
	<td><%= link_to debit.item_purchased, debit_path(debit) %></td>
	<td><%= debit.vendor %></td>
	<td><%= debit.debit_category.category %></td>
    <td><%= debit.date_purchased.strftime("%d.%m.%Y")%></td>
    <td>
		<% if debit.amount > 250 %>
			<%= debit.amount.to_s + "*"%>
		<% else %> 
			<%= debit.amount %>
		<% end %>
	</td>
	<td>
		<% if debit.status.eql?("unclaimed") %>
			<span style="color:red;">
				<% if can? :claim, debit %>
					<%= link_to "Claim", :controller=>"debits", :action=>:claim, :id=>debit.id %>
				<% else %>
					<%= debit.status %>
				<% end %>
			</span>
		<% elsif debit.status.eql?("processing") %>
			<span style="color:blue;">
				<% if can? :process_me, debit %>
					<%= link_to "Process", :controller=>"debits", :action=>:process_me, :id=>debit.id %>
				<% else %>
					<%= debit.status %>
				<% end %>
			</span>
		<% elsif debit.status.eql?("ready") %>
			<span style="color:green;">
				<% if can? :reimburse, debit %>
					<%= link_to(image_tag("reimburse_dg.png", :border => 0), :controller => "debits", :action => :reimburse, :id => debit.id)%>
				<% else %>
					<%= debit.status %>
				<% end %>
			</span>
		<% else %>
			<span style="color:green;">
				<%= debit.reimbursement_date.strftime("%d.%m.%Y") %>
			</span>
		<% end %>
	</td>
	<% if can? :update, :delete, debit %>
		<td align="center"><%= link_to(image_tag("edit_dg.png", :border => 0), edit_debit_path(debit))%></td>
		<td align="center">	<%= link_to(image_tag("delete_dg.png", :border => 0), :controller => :debits, :id => debit.id, :confirm => 'Are you sure?', :action => :delete_debit) %></td>
	<% end %>
  </tr>
<% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_debits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
