<table class="datagrid">
	<h3>
		<% if can? :create, Credit %>
			<%= link_to "Create Credit", new_credit_path(:account => @club.current_account.id) %>
		<% else %>
			Credits
		<% end %>
	</h3>
	<% unless @account_credits.empty? %>
		<thead class="datagrid">
			<th>Category</th>
			<th>Date </th>
			<th>Amount</th>
		</thead>
	<% end %>
<% @account_credits.each do |credit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= credit.credit_category.category %></td>
    <td><%= credit.date.strftime("%d.%m.%Y") %></td>
    <td>$<%= credit.amount %></td>
	<td align="center">
		<% if can? :update, credit%>
			<%= link_to(image_tag("edit_dg.png", :border => 0), edit_credit_path(credit))%>&nbsp;
		<% end %>
		<% if can? :destroy, credit%>
			<%= link_to(image_tag("delete_dg.png", :border => 0), :controller => :credits, :id => credit.id, :action => :delete_credit) %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

