<h2>Credits</h2>
<table class = "datagrid">
	<thead class="datagrid">
		<th>Category</th>
		<th>Date </th>
		<th>Amount</th>
	</thead>

<% @account_credits.each do |credit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= credit.credit_category.category %></td>
    <td><%= credit.date.to_s(:long_ordinal) %></td>
    <td><%= credit.amount %></td>
	<td align="center">
		<% if can? :update, credit%>
			<%= link_to(image_tag("edit_dg.png", :border => 0), edit_credit_path(credit))%>&nbsp;
		<% end %>
		<% if can? :delete, credit%>
			<%= link_to(image_tag("delete_dg.png", :border => 0), credit_path(credit), :confirm => 'delete?', :method => :delete) %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_credits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
