 
 Year: <%#= @club.current_account.year %><br>

 Balance: <%= @balance %> <br>
 
<%= link_to "New Debit", new_debit_path(:account => @club.current_account.id) %>


<% unless @debits_unreimbursed.nil? || @debits_unreimbursed.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "debits_unreimbursed" %>
<% end %>

<!--
<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>
	-->	
	
	<!-- all debits for club -->
 <% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%#= link_to 'all debits for account', account_defects_path %>
  <u><%= link_to "all debits for account", account_debits_path(:account => @club.current_account.id) %></u>
  <% else %>
  <li>there are no debits for this account</li>
 <% end %>
