<table class="datagrid">
	<thread class="datagrid">
    <th width="90">Year</th>
  </tr>

  
<% for account in @current_account %>
	<tr class="<%= cycle('drg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= account.year %></td>
		<td><%= link_to 'Edit', edit_account_path(account) %></td>
		<td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>




<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>
		

