<h2> Clubs' Assignments </h2>

<table class = "datagrid">
  <thread class = "datagrid">
    <th>Role</th>
    <th>User</th>
	<th>Email</th>
  </thread>

<% for assignment in @active_assignments_for_club %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= assignment.role.name %></td>
	<td><%= assignment.user.name %></td>
	<td><%= assignment.user.email %></td>
	<% if current_user.is_admin? %>
		<td align="center">
			<%= link_to(image_tag("delete_dg.png", :border => 0), assignment_path(assignment), :confirm => 'deactivate?', :method => :delete) %>
		</td>
	<% end %>
  </tr>
<% end %>
</table>