

	
<!-- all assignments for @club -->
<% unless @assignments_for_club.nil? || @assignments_for_club.empty? %>
	<p class="supertiny">&nbsp;</p>
	<%= render :partial => "clubs_assignments" %>
<% end %>

<!-- all inactive accounts for this club -->
<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
	<p class ="supertiny">&nbsp;</p>
	<%= render :partial => "inactive_accounts" %>
<% end %>
 
 <!-- all unreimbursed debits for club.current_account -->
<% unless @debits_unreimbursed.nil? || @debits_unreimbursed.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "debits_unreimbursed" %>
<% end %>
 
  <!-- all debits for account -->
<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

 <!-- all credits for account -->
<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>
