<table>
	<tr valign="top">
		<td width="200">
			<h3>Club Info</h3>
			<% if can? :create, Account %>
				<% if @club.current_account.nil? || @club.current_account.time_to_deactivate? %>
					<%= link_to "New Account", new_account_path(:club => @club) %>
					<br>
				<% else %>
					<%= link_to "Deactivate Current Account", :controller => "accounts", :action => :deactivate1, :id => @club.current_account.id %>
					<br>
				<% end %>
			<% end %>
			<% if can? :create, Assignment %>
				<%= link_to "Assign Users", new_assignment_path(:club => @club) %>
			<% end %>
		</td>
		<td width="10">&nbsp;</td>
		<td width="250">
			<!-- all active assignments for @club -->
			<% unless @active_assignments_for_club.nil? || @active_assignments_for_club.empty? %>
				<p class="supertiny">&nbsp;</p>
				<%= render :partial => "clubs_assignments" %>
			<% end %>
		</td>
		<td width="10">&nbsp;</td>
		<td width="250">
			<!-- all inactive accounts for this club -->
			<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
				<p class ="supertiny">&nbsp;</p>
				<%= render :partial => "inactive_accounts" %>
			<% end %>
		</td>
	</tr>
</table>
