<!-- This page renders information for the club's current_account (if it has one) -->

<% if @club.current_account.nil? %>
	<% if current_user.is_VP? %> 
		<%= link_to "New Account", new_account_path(:club => @club) %>
	<% end %>
<% else %>
  Year: <%= @club.current_account.year %> |
  Balance: <%= @balance %> |
  <% if current_user.is_leader? %>
	<%= link_to "Record new Debit", new_debit_path(:account => @club.current_account.id) %> |
  <% end %>
  <% if current_user.is_admin? %>
	<%= link_to "Assign Users", new_assignment_path(:club => @club.id) %>
  <% end %>
<% end %>


<!-- all assignments for @club -->
<% unless @assignments_for_club.nil? || @assignments_for_club.empty? %>
	<p class="supertiny">&nbsp;</p>
	<%= render :partial => "clubs_assignments" %>
<% end %>

<!-- all unreimbursed debits for club.current_account -->
<% unless @debits_unreimbursed.nil? || @debits_unreimbursed.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "debits_unreimbursed" %>
<% end %>

<!-- all accounts for this club -->
<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
	<p class ="supertiny">&nbsp;</p>
	<%= render :partial => "inactive_accounts" %>
<% end %>




<!-- NOT BEING USED CURRENTLY 
  <!-- all debits for account -->
<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

 <!-- all credits for account -->
<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>
	
<!-- all debits for club link to new page -->
 <% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%#= link_to 'all debits for account', account_defects_path %>
  <u><%#= link_to "all debits for account", account_debits_path(:account => @club.current_account) %></u>
  <% else %>
  <li>there are no debits for this account</li>
 <% end %> -->
