<table>
	<tr>
		<td width="200" valign="top"> 
			<u>Current Balance</u><br>
			<font size="150%"><%= @club.current_balance %></font>
		</td>
		<td>		
			<!-- all debits for account -->
			<% unless @account_debits.nil? || @account_debits.empty? %>
				<%= render :partial => "account_debits" %>
			<% end %>
			<br>
			<% if can? :create, Debit %>
				<div align="right"><%= link_to "Record new Debit", new_debit_path(:account => @club.current_account.id) %></div>
			<% end %>

			<!-- all credits for account -->
			<% unless @account_credits.nil? || @account_credits.empty? %>
				<%= render :partial => "account_credits" %>
			<% end %>
			<br>
			<% if can? :create, Credit %>
				<div align="center"><%= link_to "Credit Account", new_credit_path(:account => @club.current_account.id) %></div>
			<% end %>
		</td>
	</tr>
</table>





