<h3>Current Account Information</h3>
Academic Year: <%= @club.current_account.year %><br> 
Balance: <%= @club.current_balance %>
  
  <!-- all debits for account -->
<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>
<br>
<% if can? :create, Debit %>
	<%= link_to "Record new Debit", new_debit_path(:account => @club.current_account.id) %> 
<% end %>

 <!-- all credits for account -->
<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>
<br>
<% if can? :create, Credit %>
	<%= link_to "Credit Account", new_credit_path(:account => @club.current_account.id) %>
<% end %>




