<h2>Debits Unreimbersed</h2>
<table class = "datagrid">
	<thread class = "datagrid">
		<th width="80">Item</th>
		<th width="50">Category</th>
		<th width="50">Reason</th>
		<th width="120">Date Purchased</th>
		<th width="50">Amount</th>
		<th width="50">Number of consumers</th>
		<th width="50">Names of consumers</th>
		<th width="50">Reimbursement Date</th>
	</thread>

<% @debits_unreimbursed.each do |debit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
	<td><%= debit.item_purchased %></td>
    <td><%= debit.debit_category.category %></td>
    <td><%= debit.reason %></td>
    <td><%= debit.date_purchased.to_s(:long_ordinal) %></td>
    <td><%= debit.amount %></td>
	<td><%= debit.number_of_consumers %></td>
	<td><%= debit.names_of_consumers %></td>
	<td><% if debit.reimbursement_date.nil? %>
			<% if current_user.is_affairs? || current_user.is_admin? %>
				<%= link_to(image_tag("reimburse_dg.gif", :border => 0), :controller => "debits", :action => :reimburse, :id => debit.id ) %>
			<% else %>
				pending
			<% end %>
		<% end %>
	</td>
	<% if current_user.is_admin? %>
		<td align="center">
			<%= link_to(image_tag("edit_dg.gif", :border => 0), edit_debit_path(debit))%>&nbsp;
			<%= link_to(image_tag("delete_dg.gif", :border => 0), debit_path(debit), :confirm => 'delete?', :method => :delete) %>
		</td>
	<% end %>
  </tr>
<% end %>
</table>

<span class="smtext">
<%= will_paginate @debits_unreimbursed, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>