<h1>Listing clubs</h1>

<table class ="datagrid">
	<thead class ="datagrid">
		<th>Name</th>
		<th>Balance</th>
		<th>Manage</th>
	</thead>

<% @clubs.each do |club| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= link_to club.name, club_path(club) %></td>
	<% unless club.current_account.nil? %>
		<td><%= club.current_account.balance %></td>
	<% else %>
		<td>club doesn't have current account</td>
	<% end %>
	<!-- should you be allowed to delete a club? -->
	<% if can? :delete, Club %>
		<td align="center">
			<!-- should you be able to do this? NO need to be able to dectivate a club -->
			<%= link_to(image_tag("delete_dg.png", :border => 0), club_path(club), :confirm => 'delete?', :method => :delete) %>
		</td>
	<% end %>
  </tr>
<% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_debits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br>

<% if can? :create, Club %>
	<%= link_to 'New Club', new_club_path %>
<% end %>
