<table class ="datagrid">
<caption class="datagrid">Clubs</caption>
	<thead class ="datagrid">
		<th>Name</th>
		<th>Balance(QR)</th>
		<th>Leader</th>
		<th>Student Affairs</th>
		<th>Manage</th>
	</thead>

<% @clubs.each do |club| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= link_to club.name, club_path(club) %></td>
	<% unless club.current_account.nil? %>
		<td><%= club.current_account.balance %></td>
	<% else %>
		<td>N/A</td>
	<% end %>
	
	<td>
		<% if !club.get_leader.nil? %>  
			<%= link_to club.get_leader.name, user_path(club.get_leader.id) %>
		<% else %>
			<%= link_to "Assign me", new_assignment_path(:club=>@club, :role=>Role.get_leader)%>
		<% end %>
	</td>
	<td>
		<% if !club.get_sa.nil? %>  
			<%= link_to club.get_sa.name, user_path(club.get_sa.id) %>
		<% else %>
			<%= link_to "Assign me", new_assignment_path(:club=>@club, :role=>Role.get_sa)%>
		<% end %>
	</td>
	
	<td><% if club.active %>
		<%= link_to(image_tag("delete_dg.png", :border => 0), :confirm => "Are you sure?", :controller => "clubs", :action => :deactivate5, :id => club.id) %>
	<% else %>
		<%= link_to 'Reactivate', :confirm => 'Are you sure?', :controller => "clubs", :action => :reactivate5, :id => club.id %>
	<% end %></td>
  </tr>
<% end %>
</table>


