<h1>Listing clubs</h1>

<table class = "datagrid">
	<thead class = "datagrid"
		<th>Name</th>
		<th>Balance</th>
		<th>Deactivate Club</th>
	</thead>

<% @clubs.each do |club| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= link_to club.name, club_path(club) %></td>
	<td><%= club.current_account.balance %></td>
	<% if current_user.is_admin? %>
		<td align="center">
			<%#= link_to(image_tag("edit_dg.png", :border => 0), edit_club_path(club))  %>&nbsp;
			<%= link_to(image_tag("delete_dg.png", :border => 0), club_path(club), :confirm => 'delete?', :method => :delete) %>
		</td>
	<% end %>
  </tr>
<% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_debits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br>

<% if current_user.is_admin? %>
	<%= link_to 'New Club', new_club_path %>
<% end %>
