<p id="notice"><%= notice %></p>

<h1><%= @club.name %>'s Profile:</h1>


<% unless @club.current_account.nil? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "club_profile" %>
<% end %>



  
<br>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

