<div style='font-size:140%'><%= @club.name %>:</div>


	<div id="participants">
		Student Affairs Advisor:
		<% if @club.get_sa.nil? %>  
			<% if can? :create, Assignment %>
				<%= link_to "Assign me", new_assignment_path(:club=>@club, :role=>Role.get_sa)%>
			<% end %>
		<% else %>
			<%= @club.get_sa.username %>
		<% end %>
			
		<br>
		Club Leader: 
		<% if @club.get_leader.nil? %>
			<% if can? :create, Assignment %>
				<%= link_to "Assign me", new_assignment_path(:club=>@club, :role=>Role.get_leader)%>
			<% end %>
		<% else %>
			<%= @club.get_leader.username %>
		<% end %>
	</div>

	<% if can? :create, Account %>
		<% if @club.current_account.nil? %>
		<!-- should be action for make_account -->
			<%= link_to "New Account", :method => Account.make_account(@club.id) %>
		<% else %>
			<%= link_to "Deactivate Current Account", :controller => "accounts", :action => :deactivate1, :id => @club.current_account.id %>
		<% end %>
	<% end %>


	<!-- renders information for @club's current account-->
	<% unless @club.current_account.nil? %>
		<%= render :partial => "current_account" %>
	<% end %>
	
	
	<!-- all inactive accounts for this club -->
		<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
			<%= render :partial => "inactive_accounts" %>
		<% end %>
	


