	<span class="club_name">
		<%= @club.name%>
	</span>
	
	<table class="participants">
		<tr>
			<td>Club Leader:</td> 
			<td align='left'>
				<% if @club.get_leader.nil? %>
					<% if can? :create, Assignment %>
						<%= link_to "Assign", new_assignment_path(:club=>@club, :role=>Role.get_leader)%>
					<% end %>
				<% else %>
					<%= link_to @club.get_leader.name, user_path(@club.get_leader) %>
						<% if can? :delete, Assignment %>
							(<%= link_to(image_tag("delete_dg.png", :border => 0), :controller=>'assignments', :id=>@club.get_assignment(@club.get_leader), :action => :delete) %>)</td>
						<% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Faculty Advisor:</td>
			<td align='left'>
				<% if @club.get_faculty.nil? %>
					<% if can? :create, Assignment %>
						<%= link_to "Assign", new_assignment_path(:club=>@club, :role=>Role.get_faculty)%>
					<% end %>
				<% else %>
					<%= link_to @club.get_faculty.name, user_path(@club.get_faculty)%>
					<% if can? :delete, Assignment %>
						(<%= link_to(image_tag("delete_dg.png", :border => 0), :controller=>'assignments', :action=>:delete, :id=>@club.get_assignment(@club.get_faculty)) %>)
					<% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Student Affairs Advisor:</td>
			<td align='left'>
				<% if @club.get_sa.nil? %>  
					<% if can? :create, Assignment %>
						<%= link_to "Assign", new_assignment_path(:club=>@club, :role=>Role.get_sa)%>
					<% end %>
				<% else %>
					<%= link_to @club.get_sa.name, user_path(@club.get_sa) %>
					<% if can? :delete, Assignment %>
						(<%= link_to(image_tag("delete_dg.png", :border => 0), :controller=>'assignments', :action=>:delete, :id=>@club.get_assignment(@club.get_sa)) %>)
					<% end %>
				<% end %>
			</td>
		</tr>
	</table>
	
	<div>
		<% unless @club.current_account.nil? %>
			<%= @club.current_account.date.year %>-<%= @club.current_account.date.year + 1 %>
		<% end %>
	</div>	
	<!--
	<% if can? :create, Account %>
		<% if @club.current_account.nil? %>
		<!-- should be action for make_account -->
			<%= link_to "New Account", :method => Account.make_account(@club.id) %>
		<% else %>
			<%= link_to "Deactivate Current Account", :controller => "accounts", :action => :deactivate1, :id => @club.current_account.id %>
		<% end %>
	<% end %>
	-->
	
	<br><br>

	<!-- renders information for @club's current account-->
	<% unless @club.current_account.nil? %>
		<%= render :partial => "current_account" %>
	<% end %>
	
	<!-- all inactive accounts for this club -->
	<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
		<%= render :partial => "inactive_accounts" %>
	<% end %>