<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :User %>: 
	<% unless @assignment.club_id.nil? %>
		<!-- if assigning a user to a club -->
		<%= f.collection_select :user_id, @available_users, :id, :username, :prompt => "Select ..." %>
	<% else %>
		<!-- else assigning sysadmin or VP -->
		<% unless @users.nil? || @users.empty? %>
			<%= f.collection_select :user_id, @users, :id, :username, :prompt => "Select ..." %>
		<% else %>
			There are no available users
		<% end %>
	<% end %>
  </div>
  
  <div class="field">
	<%= f.label :Role %>:
		<% unless @assignment.club_id.nil? %>
			<%= f.collection_select :role_id, @available_roles, :id, :name, :prompt => "Select ..." %>
		<% else %>
			<% unless @roles.nil? || @roles.empty? %>
				<%= f.collection_select :role_id, @roles, :id, :name, :prompt => "Select ..." %>
			<% else %>
				There are no avaiable roles
			<% end %>
		<% end %>
  </div>
  
  <div class="field"> 
	<% unless @assignment.club_id.nil? %>
		<%= f.label :Club %>:
		<%= @assignment.club.name %>
		<%= f.hidden_field :club_id, :value => @assignment.club_id %>
	<% end %>
  </div>
  
    <%= f.hidden_field :active, :value => true %> 
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
