<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table id="form">
    <tr>
        <div class="field">
            <td>
                <%= f.label :User %>: 
				<% if !@assignment.club_id.nil? %>
					<!-- if assigning a user to a club -->
					<%= f.collection_select :user_id, User.free_users(@assignment.club), :id, :username, :prompt => "Select ..." %>
				<% elsif !@users.nil? || !@users.empty? %>
					<!-- else assigning sysadmin or VP -->
					<%= f.collection_select :user_id, @users, :id, :username, :prompt => "Select ..." %>
				<% else %>
					There are no available users
				<% end %>
            </td>
		</div>
	</tr>
	<tr>
        <div class="field">
            <td>
                <%= f.label :Role %>:
				<%= @assignment.role.name %>
				<%= f.hidden_field :role_id, :value => @assignment.role_id %> 
            </td>
		</div>
    </tr>
	<tr>
        <div class="field">
            <td>
				<% unless @assignment.club_id.nil? %>
					<%= f.label :Club %>:
					<%= @assignment.club.name %>
					<%= f.hidden_field :club_id, :value => @assignment.club_id %>
				<% end %>
            </td>
		</div>
    </tr>
	<tr>
		<div class="field">
			<td align="right">
				<%= f.submit %> <%= link_to "or Cancel", :back %>
			</td>
		</div>
    </tr>
</table>
<% end %>
