<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
	<%= f.label :Role %>:
	<% if @assignment.club_id != nil %>
		<%= f.collection_select :role_id, @except, :id, :name, :prompt => "Select ..." %>
		<!-- only give them roles which are free for the club-->
	<% else %>
		<%= f.collection_select :role_id, Role.all, :id, :name, :prompt => "Select ..." %>
	<% end %>
		
  </div>
  <div class="field">
    <%= f.label :Club %>: 
	<% if assignment.club_id != nil %>
		<%= @assignment.club.name %>
		<%= f.hidden_field :club_id, :value => @assignment.club_id %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :User %>: 
	<%= f.collection_select :user_id, User.all, :id, :username, :prompt => "Select ..." %>
  </div>
  
    <%= f.hidden_field :active, :value => true %> 
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
