<h1>Listing assignments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
	<th>Club</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.user.name %></td>
	<td><%= assignment.role.name %></td>
	<% unless assignment.club.nil? %>
		<td><%= assignment.club.name %></td>
	<% end %>
    <%#= assignment.active %>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path(:club => nil) %>
