<h1>Listing assignments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
	<th>Club</th>
    <th>Destroy</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.user.name %></td>
	<td><%= assignment.role.name %></td>
	<% unless assignment.club.nil? %>
		<td><%= assignment.club.name %></td>
	<% else %>
		<td>N/A</td>
	<% end %>
    <%#= assignment.active %>
	<td><% if assignment.active %>
		<%= link_to "Deactivate", :confirm => "Are you sure?", :controller => "assignments", :action => :deactivate, :id => assignment.id %>
	<% else %>
		<%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path(:club => nil) %>
