<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @assignment.role %>
</p>

<p>
  <b>Club:</b>
  <%= @assignment.club %>
</p>

<p>
  <b>User andrewid:</b>
  <%= @assignment.username %>
</p>

<p>
  <b>Active:</b>
  <%= @assignment.active %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
