<% if logged_in? %>
	<div id="header">
		
		<div id="user">
			Signed in as <%= current_user.name %>. <%= link_to "Log out", logout_path %>
		</div>
		
		<%= link_to(image_tag("Header.png", :border => 0), root_url) %>
			
		<span style='text-align:right; font-size:15px;'>
			<% if can? :create, Club %>
				<%= link_to 'New Club', new_club_path() %>
			<% end %>
			<% if can? :create, Assignment %>
				:: <%= link_to 'Add Participant', new_assignment_path() %>
			<% end %>
			
			<% if can? :create, DebitCategory %>
				<%= link_to 'Add Debit Category', new_debit_category_path()%>
			<% end %>
			<% if can? :create, CreditCategory %>
				:: <%= link_to 'Add Credit Category', new_credit_category_path()%>
			<% end %>
		</span>
		make new users
		<hr></hr>
	</div>
<% end %>

	<%#= link_to "Assign System Admin or VP", new_assignment_path(:club => nil) %>

