<% if logged_in? %>
	<div id="header">
		<div id="user">
			Signed in as <%= current_user.name %>, <%= link_to "Log out", logout_path %>
		</div>
		
			<%= link_to(image_tag("Header.png", :border => 0), root_url) %>
		
		<% if current_user.is_director? || current_user.is_admin? %>
			<span style="font-size:80%; text-align:right;">
				<%= link_to "Clubs", clubs_path %>
				:: <%= link_to "Users", users_path %>
				:: <%= link_to "Debit Categories", debit_categories_path %>
				:: <%= link_to "Credit Categories", credit_categories_path %>
			</span>
		<%end%>
	</div>
	<hr></hr>
<% end %>

	<%#= link_to "Assign System Admin or VP", new_assignment_path(:club => nil) %>