<div id="nav">
      
	<h3>User Links:</h3>
     
        
	<ul>
	<!-- OPTIONS FOR EVERYONE but i thought this was just for faculty -->
		<li><%= link_to 'home', :controller => 'home', :action => "index" %></li> 
		<li><%= link_to 'user',  users_path(@user) %></li>
        <li><%= link_to 'clubs', clubs_path %></li>
        <li><%= link_to 'assignments', assignments_path %></li>
        <li><%= link_to 'roles', roles_path %></li>
        <li><%= link_to 'accounts', accounts_path %></li>
        <li><%= link_to 'debits', debits_path %>
		<li><%= link_to 'debits types', debit_categories_path %>
		<li><%= link_to 'credits', credits_path %>
		<li><%= link_to 'credit types', credit_categories_path %>
        <li><% link_to 'Logout', { :controller => :sessions, :action => :destroy } %>
		<%= link_to 'logout', logout_path %></li>
	</ul>
	<p>&nbsp;</p>
</div> <!-- end of side_nav div -->


