<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table>
		<tr>
			<td style='text-align:right;'><%= f.label :first_name %></td>
			<td><%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td style='text-align:right;'><%= f.label :last_name %></td>
			<td><%= f.text_field :last_name %></td>
		</tr>
		<tr>
			<td style='text-align:right;'><%= f.label :username %></td>
			<td><%= f.text_field :username %></td>
		</tr>
		<tr>	
			<td style='text-align:right;'><%= f.label :email, "Andrew Email" %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td style='text-align:right;'><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td style='text-align:right;'><%= f.label :password_confirmation, "Confirm Password" %></td> 
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td></td>
			<td style='text-align:right;'>
				<%= f.submit (@user.new_record? ? "Submit" : "Update") %>
				<%= link_to "or Cancel", :back %>
			</td>
		</tr>
	</table?
<% end %>
