<h3> Participations </h3>
<table class="datagrid">
	<thead class="datagrid">
		<th>Club</th>
		<th>Role</th>
		<th>Active</th>
	</thead>

<% for assignment in @user.assignments %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
	<% unless assignment.club.nil? || @user.is_admin? || @user.is_vp? %>
		<td><%= assignment.club.name %></td>
	<% else %>
		<td>N/A</td>
	<% end %>
	<td><%= assignment.role.name %></td>
	<td align="center">
		<% if assignment.active %>
			<%= link_to(image_tag("delete_dg.png", :border => 0), :confirm => "Are you sure?", :controller => "assignments", :action => :deactivate2, :id => assignment.id) %>
		<% else %>
			<%= link_to 'Reactivate', :confirm => 'Are you sure?', :controller => "assignments", :action => :reactivate2, :id => assignment.id %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>
