<h2>Users</h2>
<table class='datagrid'>
	<thead class='datagrid'>
		<th>Name</th>
		<th>Email</th>
		<th>Clubs</th>
	</thead>
	
<% @users.each do |user| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= link_to user.name, user_path(user)%></td>
	<td><%= mail_to user.email, user.email %></td>
	<td><% if !user.get_clubs.nil? %>
			<% for club in user.get_clubs %>
				<%= link_to club.name, club_path(club)%>
				<% unless user.get_clubs.last == club %>,<% end %>
			<% end %>
		<% elsif user.is_admin? || user.is_vp? %>
			N/A
		<% else %>
			<a href="#" onclick="Element.toggle('foo'); return false;">Assign Me</a>
			<div id="foo" style="display:none;">collection select of clubs</div>
		<% end %>
	</td>
  </tr>
  <% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_debits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br>

<%= link_to 'New User', new_user_path %>

