<h2>Users</h2>
<table class='datagrid'>
	<thead class='datagrid'>
		<th>Name</th>
		<th>Email</th>
		<th>Clubs</th>
	</thead>
	
<% @users.each do |user| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= link_to user.name, user_path(user)%></td>
	<td><%= mail_to user.email, user.email %></td>
	<td>
		<% unless user.get_clubs.nil? || user.get_clubs.empty?%>
			<% for club in user.get_clubs %>
				<%= link_to club.name, club_path(club)%>
				<% unless user.get_clubs.last == club %>,<% end %>
			<% end %>
		<% else %>
			N/A
		<% end %>
	</td>
  </tr>
  <% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_debits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

