<h1>User Info</h1>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
	<b>Middle name:</b>
	<%=h @user.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
 <b>Username:</b>
	<%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<!-- renders a table that shows all assignments for the user -->
	<% unless user.assignments.nil? || user.assignments.empty? %>
		<p class="supertiny">&nbsp;</p>
		<%= render :partial => "user_assignments" %>
	<% end %>





