	<%= link_to "Users", users_path %><br>
	<%= link_to "Clubs", clubs_path %><br>
	<%= link_to "Credit Categories", credit_categories_path %><br>
	<%= link_to "Debit Categores", debit_categories_path %> <br>
	<%= link_to "Assign System Admin or VP", new_assignment_path(:club => nil) %><br>

<h1>What time is it?</h1>
    <div id="time_div">
      I don't have the time, but
      <%= link_to("click here", :controller => :home, :method => :say_when, :update=>"time_div", :remote => true) %>
      and I will look it up.
    </div>
