<table class ='datagrid'>
<caption class="datagrid">All Clubs</caption>
	<thead class ='datagrid'>
		<th>Name</th>
		<th>Balance</th>
	</thead>
	<% for club in Club.all %>
		<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
			<td><%= link_to club.name, club_path(club) %></td>
			<td>
				<% if club.current_account.nil? %>
					<%= link_to 'Make New Account', :confirm => 'Are you sure?', :controller => "accounts", :action => :make_account, :id => club.id  %>
				<% else %>
					<%= club.current_account.balance %>QR
				<% end %>
			</td>
		</tr>
	<% end %>
	<tr>
		<td>
			<b>Total:</b>
		</td>
		<td>
			<%= Account.total %>QR
		</td>
	</tr>
</table> 
