<% if logged_in? %>
	<!-- routes user to different page depending on role -->
	<p class ="supertiny">&nbsp;</p>
	<% if current_user.is_admin? %>
		<%= render :partial => "system_admin" %>
	<% elsif current_user.is_vp? %>
		<%= render :partial => "vp" %>
	<% else %>
		<%= render :partial => "other" %>
	<% end %>
		
<% else %>

		<img style="position: absolute; right: 0; z-index: 0;" src="images/splash.png">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div id= "login">
    
    <h1>Sign in</h1>
    
    <%= form_tag  sessions_path do %>
    <p><%= label_tag 'username' %> &nbsp;
    <%= text_field_tag 'login', @login %></p>

    <p><%= label_tag 'password' %> &nbsp;&nbsp;
    <%= password_field_tag 'password', nil %></p>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      
      <%= submit_tag 'Log in' %>
    </p>
    
    <% end %>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    
<% end %>
