<%= form_for(@credit_category) do |f| %>
  <% if @credit_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_category.errors.count, "error") %> prohibited this credit_category from being saved:</h2>

      <ul>
      <% @credit_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
