<%= form_for(@credit_category) do |f| %>
  <% if @credit_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_category.errors.count, "error") %> prohibited this credit_category from being saved:</h2>

      <ul>
      <% @credit_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= f.hidden_field :active, :value => true %>
  
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  
    <%= f.submit %><%= link_to "or Cancel", credit_categories_path() %>
  
<% end %>
