<%= form_for(@debit_category) do |f| %>
  <% if @debit_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit_category.errors.count, "error") %> prohibited this debit_category from being saved:</h2>

      <ul>
      <% @debit_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  
   <%= f.hidden_field :active, :value => true %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
