<h1>Debit Categories</h1>
<table class = "datagrid">
	<thead class = "datagrid"
		<th>Category</th>
		<th>Delete</th>
	</thead>

<% @debit_categories.each do |debit_category| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= debit_category.category %></td>
	<td align='center'>
		<% if debit_category.active %>
			<%= link_to(image_tag("delete_dg.png", :border => 0), :confirm => "Are you sure?", :controller => "debit_categories", :action => :deactivate4, :id => debit_category.id) %>
		<% else %>
			<%= link_to "Reactivate", debit_category_path(debit_category), :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<span class="smtext">
<%= will_paginate @debit_categores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br>

<%= link_to 'New Debit category', new_debit_category_path %>
