<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>
      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<table>
	<tr>
		<td><%= f.label :category %>: </td>
			<td><% if @account.has_initial? %>
				<%= f.collection_select :credit_category_id, CreditCategory.except_initial, :id, :category, :prompt => "Select ..." %>
			<% else %>
			    <%= f.hidden_field :credit_category_id, :value => @credit.credit_category.id %><%= @credit.credit_category.category %>
			<% end %>
		</td>
	</tr>
	 <%= f.hidden_field :account_id, :value => @credit.account_id %>
	<tr>	
		<td>
			<%= f.label :amount %>: 
		</td>
		<td>
			<%= f.text_field :amount %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td align="right">
			<%= f.submit %><%= link_to "or Cancel", club_path(@credit.account.club_id)%>
		</td>
	</tr>
</table>
<% end %>