<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :account_id, :value => @credit.account_id %>
  
  <div class="field">
    <%= f.label :category %>
		<% if @answer %>
			<%= f.collection_select :credit_category_id, @except, :id, :category, :prompt => "Select ..." %>
		<% else %>
			: <%= f.hidden_field :credit_category_id, :value => @credit.credit_category.id %><%= @credit.credit_category.category %>
		<% end %>
   </div>
 
 
  </div>
  <div class="field">
    <%= f.label :amount %><%= f.text_field :amount %>
  </div>
  
  <!--there is now actions class-->
  <%= f.submit %> <%= link_to "or Cancel", club_path(@credit.account.club_id)%>
<% end %>
