<p id="notice"><%= notice %></p>

<p>
  <b>Categoryid:</b>
  <%= @credit.credit_category_id %>
</p>

<p>
  <b>Date:</b>
  <%= @credit.date %>
</p>

<p>
  <b>Accountid:</b>
  <%= @credit.account_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @credit.amount %>
</p>


<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
