<%= form_for(@debit) do |f| %>
  <% if @debit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit.errors.count, "error") %> prohibited this debit from being saved:</h2>

      <ul>
      <% @debit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_purchased %><br />
    <%= f.text_area :item_purchased %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= f.collection_select :debit_category_id, DebitCategory.all, :id, :category, :prompt => "Select ..." %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.label :number_of_consumers %><br />
    <%= f.text_field :number_of_consumers %>
  </div>
  <div class="field">
    <%= f.label :names_of_consumers %><br />
    <%= f.text_area :names_of_consumers %>
  </div>
  <div class="field">
    <%= f.label :date_purchased %>
	<%= f.date_select :date_purchased, :order => [:month, :day, :year] %>
  </div>
  <div>  
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
