<%= form_for(@debit) do |f| %>
  <% if @debit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit.errors.count, "error") %> prohibited this debit from being saved:</h2>
      <ul>
		<% @debit.errors.full_messages.each do |msg| %>
        <li>
			<%= msg %>
		</li>
		<% end %>
      </ul>
    </div>
  <% end %>
  <table id="form">
    <tr>
        <div class="field">
            <td>
                <%= f.label :item_purchased %>
            </td>
            <td>
                <%= f.text_area :item_purchased, :cols => "25", :rows => "1" %>
            </td>
        </div>
    </tr>
    <tr>
        <div class="field">
            <td>
                <%= f.label :category %>
            </td>
            <td>
                <%= f.collection_select :debit_category_id, DebitCategory.get_active_categories, :id, :category, :prompt => "Select ..." %>
            </td>
        </div>
    </tr>
    <tr>
        <div class="field">
            <td>
                <%= f.label :reason %>
            </td>
            <td>
                <%= f.text_area :reason, :cols => "25", :rows => "1" %>
            </td>
        </div>
    </tr>
	<tr>
        <div class="field">
            <td>
                <%= f.label :vendor %>
            </td>
            <td>
                <%= f.text_area :vendor, :cols => "25", :rows => "1" %>
            </td>
        </div>
    </tr>
    <tr>
        <div class="field">
            <td>
                <%= f.label :number_of_consumers %>
            </td>
            <td>
                <%= f.text_field :number_of_consumers %>
            </td>
        </div>
    </tr>
    <tr>
        <div class="field">
            <td>
                <%= f.label :names_of_consumers %>
            </td>
            <td>
                <%= f.text_area :names_of_consumers, :cols => "25", :rows => "1" %>
            </td>
        </div>
    </tr>
    <tr>
        <div class="field">
            <td>
                <%= f.label :date_purchased %>
            </td>
            <td>
                <%= f.date_select :date_purchased, :order => [:month, :day, :year] %>
            </td>
        </div>
    </tr>
    <%= f.hidden_field :account_id, :value => @debit.account_id %>
    <tr>
        <div class="field">
            <td>
                <%= f.label :amount %>
            </td>
            <td>
                <%= f.text_field :amount %>
            </td>
        </div>
    </tr>
    <tr>
        <td>
        </td>
        <td align="right">
            <%= f.submit %><%= link_to "or Cancel", club_path(@debit.account.club_id)%>
        </td>
    </tr>
</table>
<% end %>