<p id="notice"><%= notice %></p>

<h2>Debit Info</h2>

<p>
  <b>Item purchased:</b>
  <%= @debit.item_purchased %>
</p>

<p>
  <b>Category:</b>
  <%= @debit.debit_category.category %>
</p>

<p>
  Reason:
  <%= @debit.reason %>
</p>

<p>
	Vendure:
	<%= @debit.vendure %>
<p>
  Number of consumers:
  <%= @debit.number_of_consumers %>
</p>

<p>
  Names of consumers:
  <%= @debit.names_of_consumers %>
</p>

<p>
  Purchased:
  <%= @debit.date_purchased.strftime("%d.%m.%y") %>
</p>

<p>
  Account:
  <%= link_to @debit.account.year, account_path(@debit.account) %>
</p>

<p>
	Amount:
	$<%= @debit.amount %>
</p>

<p>
	Reimbursement:
	<% if @debit.reimbursement_date.nil? && @debit.account.active %>
		<% if can? :reimburse, @debit %>
			<%= link_to(image_tag("reimburse_dg.png", :border => 0), :confirm => 'Are you sure?', :controller => "debits", :action => :reimburse, :id => @debit.id)%>
		<% end %>
	<% elsif !@debit.reimbursement_date.nil? %>
		<%= @debit.reimbursement_date.strftime("%d.%m.%Y") %>
	<% elsif !@debit.account.active %>
		Never Reimbursed
	<% end %>
</p>

<% if can? :update, @debit %>
	<%= link_to(image_tag("edit_dg.png", :border => 0), edit_debit_path(@debit))%>&nbsp;
<% end %>
<% if can? :delete, @debit %>
	<%= link_to(image_tag("delete_dg.png", :border => 0), debit_path(@debit), :confirm => 'delete?', :method => :delete) %>
<% end %>