<p id="notice"><%= notice %></p>

<p>
  <b>Item purchased:</b>
  <%= @debit.item_purchased %>
</p>

<p>
  <b>Category:</b>
  <%= @debit.debit_category_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @debit.reason %>
</p>

<p>
  <b>Nunber of consumers:</b>
  <%= @debit.number_of_consumers %>
</p>

<p>
  <b>Names of consumers:</b>
  <%= @debit.names_of_consumers %>
</p>

<p>
  <b>Date Purchased:</b>
  <%= @debit.date_purchased %>
</p>

<p>
  <b>Account:</b>
  <%= @debit.account_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @debit.amount %>
</p>

<p>
  <b>Reimbursement Date:</b>
  <%= @debit.reimbursement_date %>
</p>


<%= link_to 'Edit', edit_debit_path(@debit) %> |
<%#= link_to 'Back', debits_path %>
