<table class="debit_info">
	<caption>Debit Info</caption>
	<tr>
		<td>Tracking #</td>
		<td><%= @debit.id %></td>
	<tr>
		<td>Item Purchased</td>
		<td><%= @debit.item_purchased %></td>
	</tr>	
	<tr>
		<td>Category</td>
		<td><%= @debit.debit_category.category %></td>
	</tr>
	<tr>
		<td>Reason</td>
		<td><%= @debit.reason %></td>
	</tr>
	<tr>
		<td>Vendor</td>
		<td><%= @debit.vendor %></td>
	</tr>
	<tr>
		<td>Number of Consumers</td>
		<td>
			<% if @debit.number_of_consumers.nil? %>
				N/A
			<% else %>
				<%= @debit.number_of_consumers %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>Names of Consumers</td>
		<td>
			<% if @debit.names_of_consumers.nil? %>
				N/A
			<% else %>
				<%= @debit.names_of_consumers %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>Purchased Date</td>
		<td><%= @debit.date_purchased.strftime("%d.%m.%y") %></td>
	</tr>
	<tr>
		<td>Account</td>
		<td><%= link_to @debit.account.year, club_path(@debit.account.club_id) %></td>
	</tr>
	<tr>
		<td>Amount</td>
		<td>QR<%= @debit.amount %></td>
	</tr>
	<tr>
		<td>Status</td>
		<td>
			<% unless @debit.reimbursement_date.nil? %>
				<%= @debit.reimbursement_date.strftime("%d.%m.%Y") %>
			<% else %>
				 <%= @debit.status %>
			<% end %>
		</td>
	</tr>
</table>


<% if can? :delete, @debit %>
	<%= link_to(image_tag("delete_dg.png", :border => 0), debit_path(@debit), :confirm => 'delete?', :method => :delete) %>
<% end %>