<h2>Credits</h2>
<table class = "datagrid">
	<thead class = "datagrid"
		<th>Category</th>
		<th>Date </th>
		<th>Amount</th>
	</thead>

<% @account_credits.each do |credit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= credit.credit_category.category %></td>
    <td><%= credit.date.strftime("%m/%d/%Y") %></td>
    <td><%= credit.amount %></td>
  </tr>
<% end %>
</table>

<span class="smtext">
	<%= will_paginate @account_credits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
