<h1>Credits</h1>
<table class = "datagrid">
	<thread class = "datagrid"
		<th>Category</th>
		<th>Date </th>
		<th>Account</th>
		<th>Amount</th>
	</thread>

<% @account_credits.each do |credit| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= credit.credit_category.category %></td>
    <td><%= credit.date.to_s(:long_ordinal) %></td>
    <td><%= credit.account.club.name %></td>
    <td><%= credit.amount %></td>
	<td align="center">
	<%= link_to(image_tag("edit_dg.gif", :border => 0), edit_credit_path(credit))%>&nbsp;
	<%= link_to(image_tag("delete_dg.gif", :border => 0), credit_path(credit), :confirm => 'delete?', :method => :delete) %>
	</td>
  </tr>
<% end %>
</table>

<span class="smtext">
<%= will_paginate @account_credits, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
