<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>: <%= @account.year %>
	<%= f.hidden_field :year, :value => @time.year %>
  </div>
  
  <div class="field">
    <%= f.label :club %>: <%= @account.club.name %>
	<%= f.hidden_field :club_id, :value => @account.club_id %>
  </div>
  
  <div class="field">
	<%= f.hidden_field :active, :value => true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
