<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @account.year %>
</p>

<p>
  <b>Club:</b>
  <%= @account.club.name %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
