<span id="club_name">
	<%= link_to @account.club.name, club_path(@account.club) %>
</span>
<div>
	<%= @account.date.year %>-<%= @account.date.year + 1 %>
</div>	
	
	<br><br>
	
<table width=900px>
	<td style="vertical-align:top;> 
		<div id="current_balance">
			<div style="font-size:80%;"> 
				Current Balance(QR)
			</div>
			<div style="font-size:315%;">
				<% if @account.balance < 1000 %>
					<div style="color:red;">
						<%= @account.balance %>
					</div>
				<% else %>
					<div style="color:green;">
						<%= @account.balance %>
					</div>
				<% end %>
			</div>
		</div>
	</td>
	<td>
		<div id="container">
			<% unless @account.debits.nil? || @account.debits.empty? %>
			All Debits
				<%= render :partial => "account_debits" %>
			<% end %>
			<br><br>
			<% unless @account.credits.nil? || @account.credits.empty? %>
				All Credits
				<%= render :partial=>"account_credits" %>
			<% end %>
		</div>
	</td>
	</tr>
</table>
	
	<!-- all inactive accounts for this club -->
	<% unless @inactive_accounts.nil? || @inactive_accounts.empty? %>
		<%= render :partial => "inactive_accounts" %>
	<% end %>
	