<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @account.year %>
</p>

<p>
  <b>Club:</b>
  <%= link_to @account.club.name, club_path(@account.club) %>
  The balance is: <%= @balance %>
</p>

<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>


<br>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
