<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @account.year %>
</p>

<p>
  <b>Club:</b>
  <%= @account.club.name %>
</p>

<% unless @debits_for_account.nil? || @debits_for_account.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "debits_for_account" %>
<% end %>

<% unless @credits_for_account.nil? || @credits_for_account.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "credits_for_account" %>
<% end %>


<br>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
