<h1>Account Information</h1>

  Club: <%= link_to @account.club.name, club_path(@account.club) %> |
  Year:<%= @account.year %> |
  Balance: <%= @account.balance %>

<% unless @account_debits.nil? || @account_debits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_debits" %>
<% end %>

<% unless @account_credits.nil? || @account_credits.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "account_credits" %>
<% end %>




